.App {
  align-items: stretch;
  background-color: rgb(186, 203, 235);
  min-height: 100vh;
  text-align: center;
}

.App__container_flex-columns {
  display: flex;
  flex-direction: column;
}

.Add-data-form__container {
  padding: .5em;
  margin: .5em;
}

.form__item {
  margin: .5em;
  padding: .5em;
  border-radius: 5px;
}

.App__half-container {
  padding: .5em;
}

.Budget__container {
  border: gold 2px solid;
  flex: 1;
  /* min-width: 100%; */
}

.Outcomes__container {
  border: cadetblue 2px solid;
  flex: 1;
  /* min-width: 100%; */
}