.App {
  align-items: stretch;
  background-color: rgb(186, 203, 235);
  min-height: 100vh;
  text-align: center;
}

.App__container_flex-columns {
  display: flex;
  flex-direction: column;
}

.Add-data-form__buttons-container {
  display: flex;
  flex-direction: row;
}

.Add-data-form__container {
  padding: .5em;
  margin: .5em;
}

.form__item {
  margin: .5em;
  padding: .5em;
  border-radius: 5px;
  flex: 1;
}

.App__half-container {
  padding: .5em;
}

.Budget__container {
  border: #0345fc 2px solid;
  flex: 1;
  min-height: 44vh;
}

.Outcomes__container {
  border: #0345fc 2px solid;
  flex: 1;
  min-height: 44vh;
}

.user-page__container {
  flex: 1;
}

.App__container_warning {
  border-color: #debb31;
}

.App__container_danger {
  border-color: #d62d0b;
}

.App__container_ok {
  border-color: #26cc08;
}

.App__container_death {
  border-color: #0f0f0f;
}

.Guest-page__login-button {
  cursor: pointer;
  margin: 0;
  min-height: 6vh;
  border-radius: 4px;
  background-color: #1a73e8;
  padding: 0 16px;
  color: white;
  font-family: 'Google Sans', Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: .875rem;
  flex: 1;
}
